<div class="w3-bar w3-border w3-light-grey">
  <p class="w3-bar-item w3-light-grey">Welcome <%= username %></p>
  <p><a href="/logout" class="w3-bar-item w3-button w3-light-grey w3-right">Logout</a></p>
</div>
