<% let data = {title: 'Form Add User'} %>
<% data.styles = [{href: 'styles-main.css'}] %>
<% data.styles.push({href: 'https://www.w3schools.com/w3css/4/w3.css'}) %>
<%- include('spatial/head', { data })%>

<body>
  <h1 class="header">Add User</h1>

  <div class="form-container w3-card-4 container">
    <form class="w3-container" action="" method="post">
      <p>
        <label class="w3-text-blue"><b>Username</b></label>
        <input class="w3-input w3-border" name="username" type="text" required>
      </p>
      <p>
        <label class="w3-text-blue"><b>Password</b></label>
        <input class="w3-input w3-border" name="password" type="password" required>
      </p>
      <p>
        <label class="w3-text-blue"><b>Floor</b></label>
        <select name="FloorId">
          <option value="1">Lantai 1</option>
          <option value="2">Lantai 2</option>
          <option value="3">Lantai 3</option>
        </select>
      </p>
      <p>
        <button class="w3-btn w3-blue">Submit</button>
      </p>
    </form>
  </div>
</body>

<%- include('spatial/foot') %>
