<% let header = { %>
<%  title: 'Login Form', %>
<%  styles: [ %>
<%    { %>
<%      href: '../styles/add-style.css' %>
<%    }, %>
<%    { %>
<%      href: 'https://www.w3schools.com/w3css/4/w3.css' %>
<%    } %>
<%  ], %>
<% } %>
<%- include('spatial/head', { data: header }) %>

<body>
  <h1> Login Form </h1>
</body>

<%- include('spatial/foot') %>
