<% let data = {title: 'Main Page'} %>
<% data.styles = [{href: 'styles-main.css'}] %>
<% data.styles.push({href: 'https://www.w3schools.com/w3css/4/w3.css'}) %>
<%- include('spatial/head', { data })%>

<body>
  <h1 class="header">Main Page</h1>

  <div class="container">
    <div class="w3-bar w3-blue">
      <button class="w3-bar-item w3-button" onclick="openTab('Book')">Book</button>
      <button class="w3-bar-item w3-button" onclick="openTab('Floor')">Floor</button>
      <button class="w3-bar-item w3-button" onclick="openTab('User')">User</button>
      <button class="w3-bar-item w3-button" onclick="openTab('Room')">Room</button>
    </div>

    <div id="Book" class="w3-container tabs">
      <h2>Book</h2>
      <p>In here will be a table for booking table.</p>
    </div>

    <div id="Floor" class="w3-container tabs" style="display:none">
      <h2>Floor</h2>
      <p>In here will be a table for floors.</p>
      <p><a href="#">Add Floor</a></p>
      <table class="w3-table-all w3-hoverable w3-card-4">
          <thead>
            <tr class="w3-light-grey">
              <th>Id</th>
              <th>Floor</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tr>
            <td>1</td>
            <td>Floor 1</td>
            <td> Edit | Delete </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Floor 2</td>
            <td> Edit | Delete </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Floor 3</td>
            <td> Edit | Delete </td>
          </tr>
        </table>
    </div>

    <div id="User" class="w3-container tabs" style="display:none">
      <h2>User</h2>
      <p>In here will be a table for users.</p>
      <p><a href="#">Add User</a></p>

      <table class="w3-table-all w3-hoverable w3-card-4">
          <thead>
            <tr class="w3-light-grey">
              <th>Id</th>
              <th>Username</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tr>
            <td>1</td>
            <td>User 1</td>
            <td> Edit | Delete </td>
          </tr>
          <tr>
            <td>2</td>
            <td>User 2</td>
            <td> Edit | Delete </td>
          </tr>
          <tr>
            <td>3</td>
            <td>User 3</td>
            <td> Edit | Delete </td>
          </tr>
        </table>
    </div>

    <div id="Room" class="w3-container tabs" style="display:none">
      <h2>Room</h2>
      <p>In here will be a table for rooms.</p>
      <p><a href="#">Add Room</a></p>

      <table class="w3-table-all w3-hoverable w3-card-4">
          <thead>
            <tr class="w3-light-grey">
              <th>Id</th>
              <th>Name</th>
              <th>Capacity</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tr>
            <td>1</td>
            <td>Room 1</td>
            <td>10</td>
            <td> Edit | Delete </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Room 2</td>
            <td>15</td>
            <td> Edit | Delete </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Room 3</td>
            <td>25</td>
            <td> Edit | Delete </td>
          </tr>
        </table>
    </div>
  </div>

  <script>
  function openTab(cityName) {
    var i;
    var x = document.getElementsByClassName("tabs");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "block";
  }
  </script>
</body>

<%- include('spatial/foot') %>
