<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= data.title %></title>

    <% data.styles.forEach(css => { %>
      <link href="<%= css.href %>" rel="stylesheet" type="text/css">
    <% }) %>
  </head>
